@page "/contact"
@inherits SharedComponentBase

@{
	string pageName = "McNa's Glass - Contact";
}

<PageTitle>@pageName</PageTitle>

<HeadContent>
	<meta property="og:title" content="@pageName" />
	<meta property="og:description" content="McNa's Glass is a family-owned and operated Glazier company based in Eastern Heights, QLD" />
	<meta property="og:image" content="@(WebAddress)/images/shared/logo.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="@(WebAddress)/contact" />
</HeadContent>

<div id="contact" class="page">
	<div class="panel">
		<h1>@pageName</h1>

		<div class="divider divider-lg"></div>

		<p>
			We are more than happy to help with any queries or questions you may have. Feel free to contact us via email or text and I will endeavor to reply as soon as possible.

			<br>
			<br>

			<i class="fas fa-phone"></i>&nbsp;&nbsp;0449 966 216
			
			<br>
			<br>

			<i class="far fa-envelope"></i>&nbsp;&nbsp;mcnasglass@gmail.com

			<br>
			<br>

			<i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Ipswich, Brisbane and surrounds

			<div class="buttons">
				<a href="tel:61449966216" class="btn btn-primary btn-lg">
					<i class="fas fa-phone"></i>
					Call Now
				</a>

				<a href="mailto:mcnasglass@gmail.com" class="btn btn-primary btn-lg">
					<i class="far fa-envelope"></i>
					&nbsp;Email
				</a>
			</div>
		</p>
	</div>
</div>