@page "/services"
@inherits SharedComponentBase

@{
	string pageName = "McNa's Glass - Services";
}

<PageTitle>@pageName</PageTitle>

<HeadContent>
	<meta property="og:title" content="@pageName" />
	<meta property="og:image" content="@(WebAddress)/images/services/parts-replacement.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="@(WebAddress)/services" />
</HeadContent>

<div id="services" class="page">
	<div class="panel">
		<h1>@pageName</h1>

		<div class="divider divider-lg"></div>

		<div id="services" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
			@if (ServiceList?.Count > 0)
			{
				@foreach (Models.Service service in ServiceList)
				{
					<div class="col">
						<div class="card">
							<img src="/images/services/@(service.ImageUrl)" alt="@service.Title"/>

							<div class="card-body">
								<h5 class="title">@service.Title</h5>

								<p class="text">
									@service.Text
								</p>
							</div>
						</div>
					</div>
				}
			}
			else
			{
				<p>Loading...</p>
			}
		</div>
	</div>
</div>

@code
{
	private List<Models.Service> ServiceList = new List<Models.Service>();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			ServiceList = await HttpClient.GetFromJsonAsync<List<Models.Service>>("/data/services.json");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.ToString());
		}
	}
}